<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/insert.css">
</head>
<body>
    <form action="/d" method="POST">
        <label>Enter the Employee ID of the employee record to be deleted:</label>
        <input type="text" name="userid" class="input-field" placeholder="userid" />
        <input type="submit" class="btn" value="DELETE">
    </form>
</body>
</html>