<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert</title>
    <link rel="stylesheet" href="assets/insert.css">
</head>
<body>
    <form action="/i" method="POST">
        <label>Enter the Employee Name:</label>
        <input type="text" name="emp_name" class="input-field" placeholder="emp_name " /><br>
        <label>Enter the Employee DOB:</label>
        <input type="text" name="emp_dob" class="input-field" placeholder="emp_dob" /><br>
        <label>Enter the Employee Gender:</label>
        <input type="text" name="emp_gender" class="input-field" placeholder="emp_gender" /><br>
        <label>Enter the Employee Position:</label>
        <input type="text" name="emp_pos" class="input-field" placeholder="emp_pos" /><br>
        <label>Enter the Employee Salary:</label>
        <input type="text" name="emp_sal" class="input-field" placeholder="emp_sal" /><br>
        <label>Enter the Employee Mobile:</label>
        <input type="text" name="emp_mob" class="input-field" placeholder="emp_mob" /><br>
        <label>Enter the Employee Mail Id:</label>
        <input type="text" name="emp_mail" class="input-field" placeholder="emp_mail" /><br>
        <label>Enter the Employee Ssno:</label>
        <input type="text" name="Ssno" class="input-field" placeholder="Ssno" /><br>
        <label>Enter the Branchno:</label>
        <input type="text" name="emp_Bno" class="input-field" placeholder="emp_Bno" /><br>
        <input type="submit" class="btn" value="INSERT">
    </form>
</body>
</html>