<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salary Details</title>
    <link rel="stylesheet" href="assets/insert.css">
</head>
<body>
    <form action="/s" method="POST">
        <label>Enter the Employee ID of the employee who is to be given a bonus:</label>
        <input type="text" name="userid" class="input-field" placeholder="userid" /><br>
        <label>Enter bonus:</label>
        <input type="text" name="bonus" class="input-field" placeholder="bonus" /><br>
        <input type="submit" class="btn" value="GO!">
    </form>
</body>
</html>