h2{
    display:flex;
    align-items: center;
    justify-content: center;
}
table{
    border: 1px double;
  }
td{
    border: 1px double;
    border-color: cornflowerblue;
    padding: 10px;
}
th{
    border: 1px double;
    padding: 10px;
    background-color: darkslategrey;
    color: azure;
}
tr:nth-child(even){
    border: 1px double;
    border-color: black;
    padding: 10px;
    background-color: dimgrey;
    color: aliceblue;
}
  
tr:nth-child(odd){
    border: 1px double;
    border-color: black;
    padding: 10px;
    background-color:aliceblue;
    color: dimgrey;
}